<!DOCTYPE html>
<html>
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title><%= htmlWebpackPlugin.options.title %></title>
		<link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
		<link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
		<link href="https://fonts.googleapis.com/css?family=Droid+Sans+Mono" rel="stylesheet">
	</head>
	<body>
		<div id="<%= htmlWebpackPlugin.options.root %>"></div>
	</body>
</html>
