[submodule "vendor/TinyMCE-LocalAutoSave"]
	path = vendor/TinyMCE-LocalAutoSave
	url = https://github.com/valtlfelipe/TinyMCE-LocalAutoSave.git
[submodule "vendor/asciimath-tinymce4"]
	path = vendor/asciimath-tinymce4
	url = https://github.com/TuningGuide/asciimath-tinymce4.git
[submodule "vendor/tinyMCE-mention"]
	path = vendor/tinyMCE-mention
	url = https://github.com/TuningGuide/tinyMCE-mention.git
