@import 'partials/mixins';
@import 'partials/variables';
@import 'partials/_normalize.scss';
@import 'partials/_fonts.scss';
@import 'partials/content';
@import 'partials/common';
@import 'partials/autocomplete';
@import 'partials/tinymce';
@import 'partials/print';

html,
body,
.wrapper {
	margin: 0;
}

.wrapper {
	background-color: $color-1;
	color: $color-2;
	font-family: $font;
	-webkit-font-smoothing: antialiased;
	text-rendering: optimizeLegibility;
}

.center {
	align-items: center;
	display: flex;
	height: 100%;
	justify-content: center;
}

h3 {
	font-size: 1em;
	font-weight: normal;
	margin-block-start: 1em;
	margin-block-end: .3em;
	text-decoration: underline;
}

a {
	text-decoration: none;
}

section {
	padding-bottom: 0.5em;

	p {
		margin-bottom: 0.5em;
	}

	ul { margin-top: 0.5em;}
}